@using Slice.Web.Models.Widgets
@model CardViewWidget

<div class="@Model.ZoneStyle">
  <ul class="cardview nonestyle">
    @Html.Partial("_SubjectsCardView", Model.Items)
  </ul>
  @if (Model.PaginationViewModel != null && !Model.PaginationViewModel.IsSuppressed)
  {
    Html.RenderPartial("_Pagination", Model.PaginationViewModel);
  }
</div>
