
/* -----------------------------------------------------------------------------
    R E S E T
----------------------------------------------------------------------------- */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[hidden] {
    display: none;
}

/* ----------------------------------------------------------------------------
    G E N E R A L
----------------------------------------------------------------------------- */
html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
    font-family: sans-serif;
}

body {
    width: 100%;
    *zoom: 1;
    margin: 0;
    padding: 0;
    font-family: sans-serif,simsun,Tahoma,Verdana,STHeiTi;
    font-style: normal;
    font-weight: 400;
    background: #f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
    color: #292929;
    margin: .5em 0;
    font-weight: bold;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .8em;
}

h6 {
    font-size: .6em;
}

b, strong {
    font-weight: bold;
}

p {
    margin: 0.5em 0;
    line-height: 1.8em;
    font-size: 0.95em;
    color: #404040;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button, input {
    line-height: normal;
}

    button, input[type="button"], input[type="reset"], input[type="submit"] {
        cursor: pointer;
        -webkit-appearance: button;
        *overflow: visible;
    }

        button[disabled], input[disabled] {
            cursor: default;
        }

    input[type="checkbox"], input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
        *height: 13px;
        *width: 13px;
    }

    input[type="search"] {
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

        input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #069;
    font-family: sans-serif,simsun,Tahoma,Verdana,STHeiTi;
    text-decoration: none;
}

    a:hover {
        color: #7cb842;
    }

.is-hidden {
    display: none;
}

@font-face {
    font-family: 'icomoon';
    src: url("/Content/fonts/icomoon.eot");
    src: url("/Content/fonts/icomoon.eot?#iefix") format("embedded-opentype"),url("/Content/fonts/icomoon.woff") format("woff"),url("/Content/fonts/icomoon.ttf") format("truetype"),url("/Content/fonts/icomoon.svg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entypo';
    src: url("/Content/fonts/entypo.eot");
    src: url("/Content/fonts/entypo.eot?#iefix") format("embedded-opentype"),url("/Content/fonts/entypo.woff") format("woff"),url("/Content/fonts/entypo.ttf") format("truetype"),url("/Content/fonts/entypo.svg#entypo") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*
 *  Font Awesome 3.1.0
 *  the iconic font designed for Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fontawesome.io
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License v1.1 -
 *    http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Font Awesome documentation licensed under CC BY 3.0 License -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"

 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@fontawesome.io
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */

@font-face {
    font-family: 'FontAwesome';
    src: url("/Content/fonts/fontawesome-webfont.eot?v=3.1.0");
    src: url("/Content/fonts/fontawesome-webfont.eot?#iefix&v=3.1.0") format("embedded-opentype"),url("/Content/fonts/fontawesome-webfont.woff?v=3.1.0") format("woff"),url("/Content/fonts/fontawesome-webfont.ttf?v=3.1.0") format("truetype"),url("/Content/fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.1.0") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    display: inline;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
}

    [class^="icon-"]:before, [class*=" icon-"]:before {
        text-decoration: inherit;
        display: inline-block;
        speak: none;
    }

.icon-arrow-up:before {
    content: "\e002";
}

.icon-arrow-right:before {
    content: "\e003";
}

.icon-arrow-down:before {
    content: "\e001";
}

.icon-arrow-left:before {
    content: "\e004";
}

.icon-arrow-up, .icon-arrow-right, .icon-arrow-down, .icon-arrow-left {
    font-family: 'entypo';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-reorder:before {
    content: "\f0c9";
}

/* responsive-nav.js v1.0.14 by @viljamis */

.js #nav {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

.ajaxLoading {
    display: none;
    color: Red;
    font-weight: bold;
}

#nav.opened, #sub-navigation .opened {
    max-height: 9999px;
}

/* --------------------------------------------------------------------------
    S T R U C T U R E
--------------------------------------------------------------------------- */

ul.nonestyle {
    list-style: none;
    list-style-image: none;
}

#main {
    width: 100%;
    max-width: 1280px;
    min-height: 800px;
    margin: 0 auto;
    padding-bottom: 1em;
    background: #f9f9f9;
}

    #main:before, #main:after {
        content: ".";
        display: block;
        height: 0;
        overflow: hidden;
    }

    #main:before, #main:after {
        clear: both;
    }

/* ------------------------------------------------------------------------------
		G E N E R A L 
--------------------------------------------------------------------------------- */
.keywords a {
    color: #c51b13;
    font-size: 1.2em;
}

.keywords strong {
    font-weight: 400;
    font-size: 1.4em;
}

/* ------------------------------------------------------------------------------
		Responsive design
--------------------------------------------------------------------------------- */
@media (min-width: 0) and (max-width: 45em) {
    #mobile-toggle {
        width: 100%;
        border-bottom: 5px solid #f2f2f2;
    }

    #container {
        padding: 0 0 0 0.25em;
    }

    #rightRail {
        margin-top: 0.5em;
        padding: 0;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.0em;
    }

    #subSiteLogo h2 {
        font-size: 1.0em;
    }
}

@media (min-width: 45em) {
    #container {
        padding: 0 330px 0 0;
        overflow: hidden;
    }

    #mainwell {
        float: left;
        width: 100%;
        padding: 0 0.5em 1em 0.5em;
    }

    #rightRail {
        width: 300px;
        float: right;
        margin-top: 0.5em;
        margin-right: -320px;
        padding: 0;
    }
}

@media screen and (min-width: 45em) {
}

@media (min-width: 0) and (max-width: 45em) {
    .bp-medium, .bp-large, .bp-extraLarge, .bp-mediumAndLarge, .bp-largeAndExtraLarge, .bp-mediumToExtraLarge {
        display: none !important;
    }
}

@media (min-width: 45em) and (max-width: 60em) {
    .bp-small, .bp-large, .bp-extraLarge, .bp-largeAndExtraLarge {
        display: none !important;
    }
}

@media (min-width: 60em) and (max-width: 71em) {
    .bp-small, .bp-medium, .bp-extraLarge, .bp-smallAndMedium {
        display: none !important;
    }
}

@media (min-width: 71em) {
    .bp-small, .bp-medium, .bp-large, .bp-smallAndMedium, .bp-mediumAndLarge {
        display: none !important;
    }
}

@media (min-width: 0) and (max-width: 60em) {
    .bp-large, .bp-extraLarge, .bp-largeAndExtraLarge {
        display: none !important;
    }
}

@media (min-width: 45em) and (max-width: 71em) {
    .bp-small, .bp-extraLarge {
        display: none !important;
    }
}

@media (min-width: 60em) {
    .bp-small, .bp-medium {
        display: none !important;
    }
}

@media (min-width: 45em) {
    .bp-small {
        display: none !important;
    }
}
