header {
    position: relative;
    background-color: #909090;
}

.headerContainer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.25em 0 0 0;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
    position: relative;
}

    .headerContainer:before, .headerContainer:after {
        content: ".";
        display: block;
        height: 0;
        overflow: hidden;
    }

    .headerContainer:after {
        clear: both;
    }

#ad-top {
    width: 100%;
    margin: 0 auto;
    padding-top: 0.25em;
    text-align: center;
}

@media (min-width: 0) and (max-width: 45em) {
    #ad-top {
        height: 3.75em;
        max-height: 4em;
    }

    .smalllogo-container {
        border-bottom: 5px solid #f2f2f2;
    }

    .site-logo {
        margin: 0.1em auto;
        display: block;
        text-indent: -999em;
        width: 4em;
        height: 2em;
        background: url("/Content/images/logo_hotpizza50x30.png") no-repeat;
    }

    .header-social-container {
        display: none;
    }

    #nav-toggle {
        color: #909090;
        position: absolute;
        cursor: pointer;
        font-size: 1.4em;
        top: 3em;
        padding: 0.25em;
        border-right: 1px solid #eee;
    }
}

@media (min-width: 45em) {
    #ad-top {
        min-height: 6.2em;
    }

    .site-logo {
        float: left;
        margin: 0.25em 0 0 0.5em;
        padding: 0.5em 0.75em;
        display: block;
        text-indent: -999em;
        width: 9.5em;
        height: 4.5em;
        background: url("/Content/images/logo_study140x60.png") no-repeat;
    }

    .header-social-container {
        margin: 1em;
        padding: 0;
        float: right;
    }

    .viewerOptions-language {
        width: 100%;
    }

    .language-options {
        margin-bottom: 0.5em;
    }

    .js #nav, .js #sub-navigation {
        position: relative;
        max-height: none;
    }

    #nav-toggle, #sub-navigation-toggle {
        display: none;
    }
}
