@using Slice.Web.Models
@using Slice.Web.Common
@model AdModel
@{
    string divId = string.Format(WebContext.Current.AdSlotFormatString, Model.Slot.ToString().ToLower());
}
<div id="@divId" class="@Model.CssClass">
    @if (Model.AdManagerModel != null && Model.AdManagerModel.AdSlots.Contains(Model.Slot))
    {
        <script type="text/javascript">
            googletag.cmd.push(function () {
                googletag.display("@divId");
            });
        </script>
    }
    else
    {
        <div id="@divId-empty" class="@divId-empty">
        </div>
    }
</div>
