@model Slice.Web.Models.FooterViewModel
<nav id="footerContainer">
  @if (Model.FooterMenus != null)
  {
    <span class="">Inspiration</span>
    <ul id="footer-links">
      @foreach (var item in Model.FooterMenus)
      {
        <li>
          <a href="@Html.LocalizeHref(@item.NavigateUrl)" title="@WebUtility.HtmlDecode(item.Tooltip)">@item.MenuText</a>
        </li>
      }
    </ul>
  }
</nav>
