@using Slice.Web.Models.Shared
@model SocialShareBarViewModel

<ul class="socialLinks nonestyle">
  @foreach (SocialShareButton button in Model.ShareButtons)
  {
    <li class="socialLinks-item">
      <a href="#" class="socialLinks-icon socialLinks--@button.Key" onclick="window.open('@button.Url)','_blank','location=yes,height=570,width=520,scrollbars=yes,status=yes')" title="@button.Key">@button.Key</a>
    </li>
  }
</ul>
