@using Slice.Web.Models.Shared
@model SocialLinksViewModel

<ul class="socialLinks nonestyle">
  @foreach (SocialShareButton button in Model.ShareButtons)
  {
    <li class="socialLinks-item">
      <a href="#" class="socialLinks-icon socialLinks--@button.Key" title="@button.Key">@button.Key</a>
    </li>
  }
</ul>
