@using Slice.Web.Common
@using Slice.Data
@using Slice.Web.Models
@model PageViewModelBase
@foreach (LanguageDto item in WebContext.Current.LanguageDic.Values)
{
    if (item.Id != Model.CurrentLanguage.Id)
    {
        string languageUrl = string.Format("/{0}/{1}", item.Culture, ViewContext.RouteData.Values["urlAlias"]);
    <a class="viewerOptions-language" href="@languageUrl" title="@item.Label">@item.Label</a>
    }
}
