@using Slice.Web.Models
@model ZoneViewModel

<div class="zoneContainer">
  @if (Model.Widget != null)
  {
    if (Model.Widget.BlockInfo.IsBuiltIn)
    {
      Html.RenderPartial(string.Format("~/Views/Widgets/{0}.cshtml", Model.Widget.BlockInfo.WidgetName), Model.Widget);
    }
    else
    {
      Html.RenderPartial("_Widget", Model.Widget);
    }
  }
</div>
