@using Slice.Web.Models.Widgets
@model FeaturedContent

@if (Model.HasValue)
{
  <div id="featuredcontent" class="featuredcontent">
    <h3>@Model.Title</h3>
    @Html.Partial("_CardView", Model.CardViewViewModel)
  </div>
}
