@using Slice.Web.Models.Widgets
@model YouTubeVideo

@if (!string.IsNullOrWhiteSpace(Model.VideoId))
{
    <div class="youtubeVideo">
        <iframe id="ytplayer" style="width: 100%; height: 100%;"
                src="http://www.youtube.com/embed/@Model.VideoId?autoplay=@Model.AutoPlay" frameborder="0"></iframe>
    </div>
    <h1>@Model.Title</h1>
    <div>@Html.Raw(@Model.Description)</div>
}
