.blogDetail {
    margin-top: 1em;
    padding: 1em;
    border: 1px dotted #d6d6d6;
}

.blogDetail-title {
    text-align: center;
}

.blogDetail-subTitle {
    border-bottom: 1px solid #d6d6d6;
}

.blogDetail-img {
    margin: 0.5em;
    width: 100%;
    max-width: 600px;
    max-height: 98%;
}

.blogDetail-content {
}
