@using Slice.Web.Models
@using Slice.Core
@model KeywordPageViewModel

<h1>@Model.PageTitle</h1>

<div class="zoneContainer">
  <ul class="cardview nonestyle">
    @Html.Partial("_SubjectsCardView", Model.Items)
  </ul>
  @if (Model.PaginationViewModel != null && !Model.PaginationViewModel.IsSuppressed)
  {
    Html.RenderPartial("_Pagination", Model.PaginationViewModel);
  }
</div>

@section RightRail {
  @{
    AdUnitModel bigbox1 = Model.AdManagerModel.Register(AdType.BigBox);
    Html.RenderPartial("_AdUnit", bigbox1);
  }
}
