@using Slice.Web.Models
@using Slice.Core
@model KeywordPageViewModel

<h1>@Model.PageTitle</h1>

<div class="zoneContainer">
    <ul class="cardview nonestyle">
        @Html.Partial("_SubjectList", Model.Items)
    </ul>
    @if (Model.PaginationViewModel != null && !Model.PaginationViewModel.IsSuppressed)
    {
        Html.RenderPartial("_Pagination", Model.PaginationViewModel);
    }
</div>

@section RightRail {
    @Html.Partial("_Ad", new AdModel { AdManagerModel = Model.AdManagerModel, Slot = AdSlot.BigBox1, CssClass = "ad-labeled bigbox" })
    @Html.Partial("_Ad", new AdModel { AdManagerModel = Model.AdManagerModel, Slot = AdSlot.BigBox2, CssClass = "ad-labeled bigbox bp-mediumToExtraLarge" })
}
