@using Slice.Web.Models
@using Slice.Core
@model TagPageViewModel

<h1>@Model.PageTitle</h1>

<div class="blockContainer">
  <ul class="cardview nonestyle">
    @Html.Partial("_SubjectsCardView", Model.Items)
  </ul>
  @if (Model.PaginationViewModel != null && !Model.PaginationViewModel.IsSuppressed)
  {
    Html.RenderPartial("_Pagination", Model.PaginationViewModel);
  }
</div>

@section RightRail {
  @{
    AdUnitViewModel bigbox1 = Model.AdManagerModel.AdUnits[1];
    Html.RenderPartial("_AdUnit", bigbox1);
  }
}
