@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<h2>Index</h2>

<h4>@Model.ControllerName/@Model.ActionName</h4>
<h4>@Model.Exception</h4>
